---

---

<header class="flex flex-col items-center bg-[#2b2b2b] pb-8 mb-8">
  <a href="/"
    ><h1 class="text-5xl text-center my-4 mx-auto font-bold">
      Astro<span class="text-amber-400">X</span>plorer
    </h1>
  </a>
  <form class="flex gap-2.5">
    <!-- <input type="search" placeholder="Starlink, Falcon, Galaxy..." /> -->
    <!-- <button type="submit">Search</button> -->
  </form>
</header>
