---
import Launches from "@/components/sections/Launches.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="AstroXplorer">
  <main class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 h-dvh">
    <Launches />
  </main>
</Layout>
