.launch-card {
  max-width: 600px;
  width: 40rem;
  display: flex;
  flex-direction: column;
  background-color: var(--accent-bg);
  padding: 20px;
  border-radius: 10px;
  gap: 5px;
}

.launch-card section {
  margin: 0;
  padding: 0;
  border: 0;
}

.mission-name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--text);
}

.mission-name h3 {
  margin: 0;
}

.mission-name h3 strong {
  color: var(--accent);
}

.mission-date {
  color: var(--text-light);
}

.mission-button {
  width: 8rem;
  margin: 0;
  color: var(--accent);
  background-color: transparent;
}

.mission-button:hover {
  color: var(--accent-bg);
}
