.success,
.failure {
  text-align: center;
  width: 6rem;
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--bg);
}

.success {
  color: var(--text-green);
}

.failure {
  color: var(--text-red);
}
